# Dependencies
node_modules

# Next.js
.next
out

# Environment
.env
.env.*
!.env.example

# Local runtime data
.runtime

# Logs
*.log
*.tsbuildinfo
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editors
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
